@media (min-width: 640px) {
	.ssv-logo {
		height: 120px;
		width: 120px;
		align-self: baseline;
	} 
	main hgroup h1{
		padding-left: 15px;
		z-index: -1
	}
}
@media (max-width: 639px) {
	.ssv-logo {
		height: 80px;
		width: 80px;
		align-self: baseline;
	} 
	main hgroup h1{
		padding-left: 20px;
		font-size: 1.55rem;
		margin-top: -18px;
	}
}
@media (max-width: 450px) {
	main hgroup h1{
		font-size: 1.4rem;
		margin-top: -25px;
		padding-left: 25px;
	}
}

